# cmake files
CMakeFiles
CMakeCache.txt
*.cmake

# Ctest files
Testing
CTestCostData.txt
*.log

# make files
Makefile

# build files
build
*.a
*.out
*.elf
*.hex
*.lst
*.map

# submodule files
submodules/simavr/**
Libs.mk

# editor files
.vscode

# debugger files
.gdb_history